[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]


[dev-packages]
yapf = "*"
pre-commit = "*"
cookiecutter = ">=2.1.0"
pytest = "*"
click = "*"
tox = "*"
tox-pipenv = "*"
tox-pyenv = "*"
"rstcheck[sphinx]" = "*"

[requires]
python_version = "3"
